<% content_for :meta_title, "Hutoki - Conditions générales d'utilisation" %>

<div class="d-flex justify-content-center mt-6 mb-8">
  <h1>Conditions générales d'utilisation</h1>
</div>

<div class="d-flex justify-content-center">
  <div>
    <p class="text-muted">
      En cours de création...
    </p>
  </div>
</div>
