<% content_for :meta_title, 'Hutoki - Mentions légales' %>

<div class="d-flex justify-content-center mt-6 mb-8">
  <h1>Mentions légales</h1>
</div>

<div class="d-flex justify-content-center">
  <div>
    <p>
      Le présent site Internet <%= link_to "https://www.hutoki.com", root_path, class: 'font-weight-bolder' %> est édité et exploité par HUTOKI,
      <br>
      Société par actions simplifiée au capital social de 1000 euros,
      <br>
      immatriculée au Registre du Commerce et des Sociétés de Paris sous le numéro 2021B02271,
      <br>
      sise 16 bis rue d’Odessa boite 37, 75014 Paris,
      <br>
      ayant comme numéro de TVA intracommunautaire FR10893260745.
    </p>

    <p>
      Vous pouvez nous joindre par courrier électronique à l'adresse <%= t("contact.email") %>.
    </p>

    <p>
      Le directeur de la publication est Monsieur Matthieu CLOR.
    </p>

    <p>
      Ce site est hébergé par Heroku INC – 650 7th Street, San Francisco, CA, USA ;
      <br>
      Tél : +44800 808-5158
    </p>
  </div>
</div>
