<div class="py-12">
  <h1 class="text-center font-size-2-8">
    Planifiez vos vacances en toutes transparence
  </h1>

  <p class="text-center text-muted font-size-1-2 mb-8">
    Utilisez un outil simple pour votre gestion de maison de vacance familiale
  </p>

  <div class="d-flex justify-content-center">
    <%= link_to "Découvrez nos offres dès maintenant !",
                pricing_path,
                class: "btn btn-lg btn-outline-primary" %>
  </div>
</div>

<div class="mx-n3 my-12 position-relative bg-primary">
  <div class="rotated-bg-primary"></div>

  <div class="p-5">
    <h1 class="text-white text-center mb-8">
      Ayez une meilleure visibilité sur les plannings
    </h1>

    <div class="row pb-4">
      <div class="col-md-6 mb-4 mb-md-0">
        <div class="d-flex flex-column py-4 h-100">
          <div class="d-flex justify-content-center my-auto">
            <div class="col-md-8">
              <h4 class="text-white mb-6">
                Gérer les réservations en famille n’a jamais été aussi simple !
              </h4>

              <p class="text-white text-opacity-8 font-size-1-2 my-auto">
                Créez des demandes de réservation de vos maisons familiales en quelques clics,
                <br>
                visualisez le planning par famille et par lieu.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-center">
          <%= image_tag("screenshots/user_dashboard.min.png", class: "img-fluid rounded") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-12">
  <h1 class="text-center">test</h1>
</div>
