<% content_for :meta_title do %>
  Hutoki - Politique de confidentialité
<% end %>

<div class="d-flex justify-content-center mt-6 mb-8">
  <h1>Charte de gestion de cookies</h1>
</div>

<div class="d-flex justify-content-center">
  <div class="col-md-10">
    <h5>table des matières :</h5>

    <ol class="pl-4 mb-6">
      <li>
        <a href="#p-1">Préambule</a>
      </li>
      <li>
        <a href="#p-2">Qui collecte mes données ?</a>
      </li>
      <li>
        <a href="#p-3">Qu'est-ce qu'un cookie ?</a>
      </li>
      <li>
        <a href="#p-4">À quoi servent les cookies ?</a>
      </li>
      <li>
        <a href="#p-5">Les cookies de la plateforme et leur finalité ?</a>
        <ol class="pl-4">
          <li>
            <a href="#p-5-1">Les cookies propriétaires</a>
            <ol class="pl-4">
              <li>
                <a href="#p-5-1-1">Les cookies fonctionnels et techniques</a>
              </li>
              <li>
                <a href="#p-5-1-2">Les cookies techniques de statistiques et de mesure d'audience</a>
              </li>
            </ol>
          </li>
          <li>
            <a href="#p-5-2">Les cookies tiers</a>
            <ol class="pl-4">
              <li>
                <a href="#p-5-2-1">Les cookies liés aux opérations relatives à la publicité</a>
              </li>
              <li>
                <a href="#p-5-2-2">Les cookies liés aux réseaux sociaux</a>
              </li>
            </ol>
          </li>
        </ol>
      </li>
      <li>
        <a href="#p-6">Installer ces cookies : c'est votre choix</a>
      </li>
      <li>
        <a href="#p-7">Votre consentement</a>
      </li>
      <li>
        <a href="#p-8">Vos droits d'accès, d'opposition, de suppression</a>
      </li>
      <li>
        <a href="#p-9">Durée de conservation</a>
      </li>
    </ol>

    <h5 id="p-1">1. Préambule</h5>

    <p>
      La présente Charte de gestion des Cookies s'adresse aux utilisateurs du site internet
      <%= link_to('www.hutoki.com', root_path, class: "font-weight-bold") %> (ci-après la « PLATEFORME »),
      à savoir, toute personne qui accède et navigue sur la PLATEFORME, et notamment les Utilisateurs inscrits
      sur la PLATEFORME ou les internautes visiteurs.  En naviguant sur la PLATEFORME,
      vous consentez à ce que les cookies tels que décrits ci-dessous puissent être placés sur
      votre terminal conformément à la présente Charte de gestion des Cookies.
    </p>

    <h5 id="p-2">2. Qui collecte mes données ?</h5>

    <p>
      Le responsable des traitements des données des Utilisateurs collectées via la PLATEFORME
      est la société HUTOKI (ci-après « HUTOKI » ou « Nous »).
    </p>

    <h5 id="p-3">3. Qu'est-ce qu'un cookie ?</h5>

    <p>
      Un cookie est un petit fichier texte déposé sur le disque dur de votre terminal lors de
      votre visite sur un site internet. Il enregistre certaines informations sur votre navigation
      ou sur votre comportement en ligne qui nous permettent d'améliorer et de faciliter votre
      expérience en qualité d'internaute.
    </p>

    <h5 id="p-4">4. À quoi servent les cookies ?</h5>

    <p>
      La PLATEFORME utilise des cookies afin de différencier les internautes pour améliorer leur
      navigation et les services qui leur sont proposés. En pratique, les cookies permettent ainsi
      de vous authentifier et de vous identifier. Ils peuvent, le cas échéant, enregistrer vos
      préférences ou mesurer les différents usages de la PLATEFORME.
    </p>

    <h5 id="p-5">5. Les cookies de la plateforme et leur finalité ?</h5>

    <p>
      HUTOKI privilégie la transparence dans le traitement de vos données. A ce titre,
      et pour que votre information soit la plus claire possible, vous trouverez ci-dessous
      différents cookies utilisés sur la PLATEFORME et leur finalité :
    </p>

    <h6 id="p-5-1">5.1 Les cookies propriétaires</h6>

    <h6 id="p-5-1-1">5.1.1 Les cookies fonctionnels et techniques</h6>

    <p>
      Ils permettent majoritairement d'améliorer votre navigation sur la PLATEFORME.
      Ce sont eux qui vont envoyer des informations à notre PLATEFORME et à votre navigateur :
      mémorisation des informations relatives à un formulaire (identifiant, adresse),
      les préférences d'affichage de votre terminal (langue, résolution), des mesures de sécurité
      comme l'expiration de votre session, etc.
    </p>

    <p>
      Attention, la navigation sur la PLATEFORME et/ou l'utilisation de certaines fonctionnalités
      pourraient être altérées si vous choisissez de désactiver ces cookies.
    </p>

    <h6 id="p-5-1-2">5.1.2 Les cookies techniques de statistiques et de mesure d'audience</h6>

    <p>
      Ils nous aident à mieux comprendre l’utilisation qui est faite de la PLATEFORME
      et à vous proposer des services de qualité
    </p>

    <h6 id="p-5-2">5.2 Les cookies tiers</h6>

    <p>
      En vous rendant sur la PLATEFORME, il est possible que des sociétés partenaires
      implantent des cookies sur votre terminal. L'utilisation de ces cookies est soumise
      aux mêmes restrictions sur la protection des données personnelles établies par la
      loi « Informatique et Libertés ». Dans les paramétrages de votre navigateur,
      vous pourrez désactiver ces cookies tiers seuls ou en même temps que les nôtres.
      Il y a en particulier :
    </p>

    <h6 id="p-5-2-1">5.2.1 Les cookies liés aux opérations relatives à la publicité</h6>

    <p>
      Ces cookies sont utilisés par des prestataires publicitaires sur la PLATEFORME.
    </p>

    <p>
      Ils permettent d'identifier les prestations consultées ou achetées et favorisent
      la personnalisation de l'offre publicitaire. Les cookies contenus au sein même des
      publicités ont pour objectif de fournir des informations et des statistiques sur
      la pertinence de leur diffusion (nombre d'utilisateurs cliquant sur la publicité,
      nombre de fois où elle est affichée etc.)
    </p>

    <h6 id="p-5-2-2">5.2.2 Les cookies liés aux réseaux sociaux</h6>

    <p>
      Nous incluons au sein de certaines pages de la PLATEFORME des applications informatiques
      qui permettent le partage en temps réel du contenu de la PLATEFORME avec d'autres personnes.
      C'est notamment le cas des boutons « Partager », « J'aime », « +1 » etc. des réseaux sociaux.
    </p>

    <p>
      Il est précisé que tout réseau social peut vous identifier ou suivre votre navigation à l'aide
      de l'un de ces boutons même sans que vous ayez cliqué dessus, du moment que votre session est
      ouverte dans votre navigateur. Chaque réseau social dispose de ses propres politiques de protection
      des données et HUTOKI ne dispose d'aucun contrôle sur l'utilisation des cookies et autres traceurs
      émis par ces sociétés tiers. Nous vous invitons à vous renseigner auprès de ces réseaux sociaux pour
      en savoir plus sur les paramétrages possibles vis-à-vis de la confidentialité de votre compte
      (Facebook, Twitter, Google+, YouTube, etc.)
    </p>

    <h5 id="p-6">6. Installer ces cookies : c'est votre choix</h5>

    <p>
      Sur vos ordinateurs, Smartphones et autres terminaux d’accès à Internet, par défaut le logiciel
      de navigation accepte les cookies présents sur les sites internet.
    </p>

    <p>
      Mais vous restez maître de l’installation de ces cookies car vous avez la possibilité de configurer
      votre logiciel de navigation pour :
    </p>

    <ul>
      <li>accepter ou refuser les cookies se trouvant sur la PLATEFORME ;</li>
      <li>refuser systématiquement tous les cookies ;</li>
      <li>demander votre consentement sur chacun des cookies que vous rencontrez lors de votre navigation sur internet.</li>
    </ul>

    <p>
      Pour ce faire, il vous suffit de vous reporter à vos logiciels de navigation et de suivre leurs
      instructions. A titre d’exemple :
    </p>

    <ul>
      <li>Avec <span class="font-weight-bold">Internet Explorer</span> : menu Outils > Options Internet > Onglet Confidentialité > Choisissez le niveau souhaitée</li>
      <li>Avec <span class="font-weight-bold">Firefox</span> : menu Outils > Options > Onglet Vie privée > choisissez les options souhaitées</li>
      <li>Avec <span class="font-weight-bold">Chrome</span> : menu de configuration (logo paramètres) > Paramètres > Paramètres avancés > Paramètres de contenu > Choisissez les options souhaitées</li>
      <li>Avec <span class="font-weight-bold">Safari</span> : Safari (logo paramètres) > Préférences > Sécurité > Afficher les cookies > Choisissez les options souhaitées</li>
      <li>Avec <span class="font-weight-bold">Opéra</span> : menu Outils > Préférences > Onglet Avancé > Rubrique Cookies > Gérer les cookies > Choisissez les options souhaitées</li>
    </ul>

    <p>
      Comme indiqué précédemment, en choisissant de bloquer nos cookies, nous tenons à vous informer
      que la navigation sur la PLATEFORME et/ou l’utilisation de certaines fonctionnalités pourraient
      être altérées. En tout état de cause, si vous choisissez de supprimer tous les cookies,
      votre expérience utilisateur en sera fortement affectée et vos préférences de navigation seront effacées.
    </p>

    <h5 id="p-7">7. Votre consentement</h5>

    <p>
      En naviguant sur la PLATEFORME, vous acceptez que HUTOKI installe des cookies dits
      « techniques » qui accèdent, inscrivent et consultent des informations stockées dans
      votre équipement terminal :
    </p>

    <ul>
      <li>ayant pour finalité exclusive de permettre ou faciliter la communication par voie électronique ;</li>
      <li>strictement nécessaires à la fourniture du service de communication en ligne de la PLATEFORME.</li>
    </ul>

    <p>
      Lors de votre inscription sur la PLATEFORME, vous avez également été informés de la présence de
      cookies traceurs destinés notamment à vous proposer des offres adaptées à vos centres d’intérêts
      et à réaliser des statistiques de visites et de la possibilité de vous y opposer en accédant
      à la présente Charte de gestion des cookies.
    </p>

    <h5 id="p-8">8. Vos droits d'accès, d'opposition, de suppression</h5>

    <p>
      Comme pour les autres données, vous pouvez exercer vos droits d’accès, de suppression et
      d’opposition sur vos données en en faisant la demande par e-mail à l’adresse <%= t("contact.email") %>
      en indiquant dans l’objet « Informatique et libertés » et en justifiant de votre identité.
    </p>

    <p>
      En outre, si votre navigateur internet le permet, vous pouvez à tout moment désactiver ces
      cookies en vous référant aux procédures détaillées ci-avant.
    </p>

    <h5 id="p-9">9. Durée de conservation</h5>

    <p>
      En tout état de cause, les cookies stockés dans votre terminal ou tout autre
      élément utilisé pour vous identifier à des fins de statistiques ou d’audience
      auront une durée de vie limitée à treize (13) mois maximum, cette durée
      n’étant pas prorogée automatiquement lors de vos nouvelles visites sur la PLATEFORME.
    </p>

    <p>
      Au-delà, les données de fréquentation brutes associées à un identifiant sont
      soit supprimées soit anonymisées.
    </p>
  </div>
</div>
