<div class="alert alert-warning" role="alert">
  <%= fa_icon("exclamation-triangle") %>
  <span class="ml-1">
    En désactivant votre compte, toutes vos réservations en cours seront annulé et
    vous ne recevrez plus de mail lié a la gestion de vos familles.
  </span>
</div>

<div class="alert alert-info" role="alert">
  <%= fa_icon("info-circle") %>
  <span class="ml-1">
    Pour réactiver votre compte, vous n'aurez qu'a vous reconnecter.
  </span>
</div>

<%= button_to "Désactiver mon compte",
              user_account_statuses_path,
              data: { confirm: "Etes-vous sûr ?" },
              class: "btn btn-block btn-danger",
              method: :delete %>
