<div class="alert alert-warning" role="alert">
  <%= fa_icon("exclamation-triangle") %>
  La suppression du compte est irréversible,
  vous perdrez toutes les données liées a celui-ci.
</div>

<%= button_to "Supprimer mon compte",
              registration_path(resource_name),
              data: { confirm: "Etes-vous sûr ?" },
              class: "btn btn-block btn-danger",
              method: :delete %>
