<div class="d-flex justify-content-center mt-4">
  <div class="col-md-12 col-lg-10">
    <h1>Réservations</h1>

    <div class="card border-0 shadow">
      <div class="card-body">
        <div class="tab-content">
          <div id="bookings_container">
            <%= render "bookings" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
