<div id="booking-container"
     data-content-max="<%= Message::CONTENT_MAX %>"
     data-booking-id="<%= @booking.id %>"
     data-booking-status="<%= @booking.status %>"
     data-user-id="<%= current_user.id %>">

  <div id="booking-vue"></div>
</div>
