<% if @venues.present? %>
  <% content_for :head do %>
    <%= javascript_pack_tag 'bookings_vue', 'data-turbolinks-track': 'reload' %>
  <% end %>

  <div id="app"></div>

  <div class="d-flex justify-content-center mt-4">
    <div class="d-flex flex-wrap px-2">
      <% @venues.each do |venue| %>
        <%= link_to user_account_current_venues_path(current_venue: { id: venue.id }),
                                                    method: :patch,
                                                    class: "text-decoration-none d-flex" do %>

          <div class="d-flex align-items-center shadow rounded m-2">
            <div class="p-2">
              <%= venue_photos(venue) %>
            </div>
            <h4 class="text-dark pl-1 pr-4">
              <%= venue.name %>
            </h4>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id='bookings_calendar'>
    <div class="d-flex justify-content-center my-2">
      <v-date-picker mode="range" v-model="booking.dateRange" />
    </div>

    <div class="d-flex justify-content-center mb-4">
      <div class="col-12">
        <v-calendar :columns="4" :rows="3" :is-expanded="true" :attributes="attributes" />
      </div>
    </div>
  </div>
<% else %>

<% end %>
