<table class="table table-rounded table-borderless table-hover">
  <thead class="table-info">
    <tr>
      <th scope="col">Nom</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= family.name %></td>
        <td colspan="2"></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center mt-2">
  <%== render "shared/bootstrap_pagy" if @pagy.pages > 1 %>
</div>
