<div class="d-flex justify-content-center">
  <div class="col-11">
    <h4 class="d-flex align-items-center">
      Salle de bains : <span class="badge badge-secondary ml-2">{{venue.bathrooms.length}}</span>
    </h4>

    <div v-for="(bathroom, bathroomIndex) in venue.bathrooms" :key="`bathroom-${bathroomIndex}`">
      <div class="form-row d-flex align-items-end">
        <div class="col-11">
          <div class="form-group string required venue_bathrooms_name">
            <label class="string required" :for="`venue_bathrooms_attributes_${bathroomIndex}_name`">
              Nom <abbr title="obligatoire">*</abbr>
            </label>

            <input v-model="bathroom.name" class="form-control string required" required="required" aria-required="true" type="text" :name="`venue[bathrooms_attributes][${bathroomIndex}][name]`" :id="`venue_bathrooms_attributes_${bathroomIndex}_name`" placeholder="Salle de bain d'été">
          </div>
        </div>

        <div class="col-1 mb-3">
          <button v-on:click.prevent="removeObject('bathroom', bathroomIndex)" class="btn btn-danger">
            <%= fa_icon("trash") %>
          </button>
        </div>
      </div>

      <div class="form-group hidden venue_bathrooms__destroy m-0">
        <input v-model="bathroom._destroy"  class="form-control hidden" type="hidden" value="false" :name="`venue[bathrooms_attributes][${bathroomIndex}][_destroy]`" :id="`venue_bathrooms_attributes_${bathroomIndex}__destroy`">
      </div>

      <hr>
    </div>

    <button v-on:click.prevent="addObject('bathroom')" class="btn btn-primary">
      Ajouter une salle de bain
    </button>
  </div>
</div>
