<div class="d-flex justify-content-between mb-3">
  <h4 class="d-flex align-items-center">
    Digicode :
    <span v-show="venue.withDigitalCode" class="badge badge-secondary ml-2">
      {{countObject(venue.digitalCodes)}}
    </span>
  </h4>

  <fieldset class="form-group boolean venue_with_digital_code mb-2">
    <div class="custom-control custom-switch">
      <input v-model="venue.withDigitalCode" name="venue[with_digital_code]" type="hidden">

      <input v-model="venue.withDigitalCode"
              class="custom-control-input boolean"
              id="venue_with_digital_code"
              type="checkbox"
              :checked="venue.withDigitalCode"
              name="venue[with_digital_code]">

      <label for="venue_with_digital_code" class="custom-control-label boolean">
        Avec un digicode
      </label>
    </div>
  </fieldset>
</div>

<div v-show="venue.withDigitalCode">
  <div v-for="(digitalCode, digitalCodeIndex) in venue.digitalCodes" :key="`digitalCode-${digitalCodeIndex}`">
    <div v-show="!digitalCode.Destroy">
      <div class="shadow p-3 rounded mb-3">
        <div class="form-group hidden venue_digital_codes_id">
          <input v-model="digitalCode.id"
                  type="hidden"
                  :name="`venue[digital_codes_attributes][${digitalCodeIndex}][id]`"
                  :id="`venue_digital_codes_attributes_${digitalCodeIndex}_id`"
                  class="form-control hidden">
        </div>

        <div class="form-row">
          <div class="col-6">
            <div class="form-group string required venue_digital_codes_name"
                :class="formGroupClass(digitalCode, 'name')">

              <label class="string required"
                    :for="`venue_digital_codes_attributes_${digitalCodeIndex}_name`">
                Nom <abbr title="obligatoire">*</abbr>
              </label>

              <input v-model="digitalCode.name"
                    class="form-control string required"
                    :class="inputClass(digitalCode, 'name')"
                    aria-required="true"
                    type="text"
                    :name="`venue[digital_codes_attributes][${digitalCodeIndex}][name]`"
                    :id="`venue_digital_codes_attributes_${digitalCodeIndex}_name`"
                    placeholder="Porte du premier bâtiment">

              <div v-for="digitalCodeError in digitalCode.errors['name']" class="invalid-feedback">
                {{digitalCodeError}}
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="form-group string required venue_digital_codes_password"
                :class="formGroupClass(digitalCode, 'password')">

              <label class="string required"
                    :for="`venue_digital_codes_attributes_${digitalCodeIndex}_password`">
                Mot de passe <abbr title="obligatoire">*</abbr>
              </label>

              <input v-model="digitalCode.password"
                    class="form-control string required"
                    :class="inputClass(digitalCode, 'password')"
                    aria-required="true"
                    type="text"
                    :name="`venue[digital_codes_attributes][${digitalCodeIndex}][password]`"
                    :id="`venue_digital_codes_attributes_${digitalCodeIndex}_password`"
                    placeholder="Mot de passe">

              <div v-for="digitalCodeError in digitalCode.errors['password']" class="invalid-feedback">
                {{digitalCodeError}}
              </div>
            </div>
          </div>

          <div class="col-1 offset-1">
            <button @click.prevent="removeObject('digitalCode', digitalCodeIndex)" class="btn btn-danger">
              <%= fa_icon("trash") %>
            </button>
          </div>
        </div>

        <div class="form-group hidden venue_digital_codes__destroy m-0">
          <input v-model="digitalCode.Destroy"
                class="form-control hidden"
                type="hidden"
                value="false"
                :name="`venue[digital_codes_attributes][${digitalCodeIndex}][_destroy]`"
                :id="`venue_digital_codes_attributes_${digitalCodeIndex}__destroy`">
        </div>
      </div>
    </div>
  </div>

  <button @click.prevent="addObject('digitalCode')" class="btn btn-primary">
    <%= fa_icon("plus", "Ajouter un digicode", class: "mr-2") %>
  </button>
</div>
