<div class="d-flex justify-content-center">
  <div class="col-11">
    <div class="d-flex justify-content-between mb-3">
      <h4 class="d-flex align-items-center">
        Services à domicile :
        <span v-show="venue.withHomeService" class="badge badge-secondary ml-2">
          {{countObject(venue.homeServices)}}
        </span>
      </h4>

      <fieldset class="form-group boolean venue_with_home_service mb-2">
        <div class="custom-control custom-switch">
          <input v-model="venue.withHomeService" name="venue[with_home_service]" type="hidden">

          <input v-model="venue.withHomeService"
                 :checked="venue.withHomeService"
                 type="checkbox"
                 name="venue[with_home_service]"
                 id="venue_with_home_service"
                 class="custom-control-input boolean mb-2">

          <label for="venue_with_home_service" class="custom-control-label boolean">
            Avec un service à domicile
          </label>
        </div>
      </fieldset>
    </div>

    <div v-show="venue.withHomeService">
      <div v-for="(homeService, homeServiceIndex) in venue.homeServices">
        <div v-show="!homeService.Destroy">
          <div class="shadow p-3 rounded mb-3">
            <div class="form-group hidden venue_home_services_id">
              <input v-model="homeService.id"
                     type="hidden"
                     :name="`venue[home_services_attributes][${homeServiceIndex}][id]`"
                     :id="`venue_home_services_attributes_${homeServiceIndex}_id`"
                     class="form-control hidden">
            </div>

            <div class="form-row">
              <div class="col-6">
                <div class="form-group string required venue_home_services_name"
                    :class="formGroupClass(homeService, 'name')">

                  <label class="string required"
                        :for="`venue_home_services_attributes_${homeServiceIndex}_name`">
                    Nom <abbr title="obligatoire">*</abbr>
                  </label>

                  <input v-model="homeService.name"
                        class="form-control string required"
                        :class="inputClass(homeService, 'name')"
                        aria-required="true"
                        type="text"
                        :name="`venue[home_services_attributes][${homeServiceIndex}][name]`"
                        :id="`venue_home_services_attributes_${homeServiceIndex}_name`"
                        placeholder="Jardinier">

                  <div v-for="homeServiceError in homeService.errors['name']" class="invalid-feedback">
                    {{homeServiceError}}
                  </div>
                </div>
              </div>

              <div class="col-1 offset-5">
                <button @click.prevent="removeObject('homeService', homeServiceIndex)" class="btn btn-danger">
                  <%= fa_icon("trash") %>
                </button>
              </div>
            </div>

            <div class="form-row">
              <div class="col-6">
                <div class="form-group string required venue_home_services_person_in_charge"
                    :class="formGroupClass(homeService, 'personInCharge')">

                  <label class="string required"
                        :for="`venue_home_services_attributes_${homeServiceIndex}_person_in_charge`">
                    Responsable <abbr title="obligatoire">*</abbr>
                  </label>

                  <input v-model="homeService.personInCharge"
                        class="form-control string required"
                        :class="inputClass(homeService, 'personInCharge')"
                        aria-required="true"
                        type="text"
                        :name="`venue[home_services_attributes][${homeServiceIndex}][person_in_charge]`"
                        :id="`venue_home_services_attributes_${homeServiceIndex}_person_in_charge`"
                        placeholder="Jean Dujardin">

                  <div v-for="homeServiceError in homeService.errors['personInCharge']" class="invalid-feedback">
                    {{homeServiceError}}
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="form-group string venue_home_services_address"
                    :class="formGroupClass(homeService, 'address')">

                  <label class="string" :for="`venue_home_services_attributes_${homeServiceIndex}_address`">
                    Adresse
                  </label>

                  <input v-model="homeService.address"
                        class="form-control string"
                        :class="inputClass(homeService, 'address')"
                        type="text"
                        :name="`venue[home_services_attributes][${homeServiceIndex}][address]`"
                        :id="`venue_home_services_attributes_${homeServiceIndex}_address`"
                        placeholder="23 Rue Des Plantes">

                  <div v-for="homeServiceError in homeService.errors['address']" class="invalid-feedback">
                    {{homeServiceError}}
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row d-flex align-items-center">
              <div class="col-4">
                <div class="form-group string venue_home_services_phone"
                    :class="formGroupClass(homeService, 'phone')">

                  <label class="string" :for="`venue_home_services_attributes_${homeServiceIndex}_phone`">
                    Téléphone
                  </label>

                  <input v-model="homeService.phone"
                        class="form-control string"
                        :class="inputClass(homeService, 'phone')"
                        type="text"
                        :name="`venue[home_services_attributes][${homeServiceIndex}][phone]`"
                        :id="`venue_home_services_attributes_${homeServiceIndex}_phone`"
                        placeholder="06 66 76 45 45">

                  <div v-for="homeServiceError in homeService.errors['phone']" class="invalid-feedback">
                    {{homeServiceError}}
                  </div>
                </div>
              </div>

              <div class="col-8">
                <div class="form-group string venue_home_services_email"
                    :class="formGroupClass(homeService, 'email')">

                  <label class="string" :for="`venue_home_services_attributes_${homeServiceIndex}_email`">
                    Email
                  </label>

                  <input v-model="homeService.email"
                        class="form-control string"
                        :class="inputClass(homeService, 'email')"
                        type="email"
                        :name="`venue[home_services_attributes][${homeServiceIndex}][email]`"
                        :id="`venue_home_services_attributes_${homeServiceIndex}_email`"
                        placeholder="jeandujardin@mail.com">

                  <div v-for="homeServiceError in homeService.errors['email']" class="invalid-feedback">
                    {{homeServiceError}}
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group hidden venue_home_services__destroy m-0">
              <input v-model="homeService.Destroy"
                    class="form-control hidden"
                    type="hidden"
                    value="false"
                    :name="`venue[home_services_attributes][${homeServiceIndex}][_destroy]`"
                    :id="`venue_home_services_attributes_${homeServiceIndex}__destroy`">
            </div>
          </div>
        </div>
      </div>

      <button @click.prevent="addObject('homeService')" class="btn btn-primary">
        <%= fa_icon("plus", "Ajouter un services à domicile", class: "mr-2") %>
      </button>
    </div>
  </div>
</div>
