<div class="d-flex justify-content-center">
  <div class="col-11">
    <div class="d-flex justify-content-between">
      <h4 class="d-flex align-items-center">
        Services à domicile : <span v-show="venue.withHomeService" class="badge badge-secondary ml-2">{{venue.homeServices.length}}</span>
      </h4>

      <fieldset class="form-group boolean required venue_with_home_service mb-2">
        <div class="custom-control custom-switch">
          <input v-model="venue.withHomeService" name="venue[with_home_service]" type="hidden">
          <input v-model="venue.withHomeService" required="required" aria-required="true" type="checkbox" name="venue[with_home_service]" id="venue_with_home_service" class="custom-control-input boolean required mb-2">
          <label for="venue_with_home_service" class="custom-control-label boolean required">
            Avec un service à domicile <abbr title="obligatoire">*</abbr>
          </label>
        </div>
      </fieldset>
    </div>

    <div v-show="venue.withHomeService">
      <div v-for="(homeService, homeServiceIndex) in venue.homeServices">
        <div class="form-row">
          <div class="col-12">
            <div class="form-group string required venue_home_services_name">
              <label class="string required" :for="`venue_home_services_attributes_${homeServiceIndex}_name`">
                Nom <abbr title="obligatoire">*</abbr>
              </label>

              <input v-model="homeService.name" class="form-control string required" required="required" aria-required="true" type="text" :name="`venue[home_services_attributes][${homeServiceIndex}][name]`" :id="`venue_home_services_attributes_${homeServiceIndex}_name`" placeholder="Jardinier">
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-6">
            <div class="form-group string required venue_home_services_person_in_charge">
              <label class="string required" :for="`venue_home_services_attributes_${homeServiceIndex}_person_in_charge`">
                Responsable <abbr title="obligatoire">*</abbr>
              </label>

              <input v-model="homeService.person_in_charge" class="form-control string required" required="required" aria-required="true" type="text" :name="`venue[home_services_attributes][${homeServiceIndex}][person_in_charge]`" :id="`venue_home_services_attributes_${homeServiceIndex}_person_in_charge`" placeholder="Jean Dujardin">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group string required venue_home_services_address">
              <label class="string required" :for="`venue_home_services_attributes_${homeServiceIndex}_address`">
                Adresse <abbr title="obligatoire">*</abbr>
              </label>

              <input v-model="homeService.address" class="form-control string required" required="required" aria-required="true" type="text" :name="`venue[home_services_attributes][${homeServiceIndex}][address]`" :id="`venue_home_services_attributes_${homeServiceIndex}_address`" placeholder="23 Rue Des Plantes">
            </div>
          </div>
        </div>

        <div class="form-row d-flex align-items-end">
          <div class="col-5">
            <div class="form-group string required venue_home_services_phone">
              <label class="string required" :for="`venue_home_services_attributes_${homeServiceIndex}_phone`">
                Téléphone <abbr title="obligatoire">*</abbr>
              </label>

              <input v-model="homeService.phone" class="form-control string required" required="required" aria-required="true" type="text" :name="`venue[home_services_attributes][${homeServiceIndex}][phone]`" :id="`venue_home_services_attributes_${homeServiceIndex}_phone`" placeholder="06 66 76 45 45">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group string required venue_home_services_email">
              <label class="string required" :for="`venue_home_services_attributes_${homeServiceIndex}_email`">
                Email <abbr title="obligatoire">*</abbr>
              </label>

              <input v-model="homeService.email" class="form-control string required" required="required" aria-required="true" type="text" :name="`venue[home_services_attributes][${homeServiceIndex}][email]`" :id="`venue_home_services_attributes_${homeServiceIndex}_email`" placeholder="jeandujardin@mail.com">
            </div>
          </div>

          <div class="col-1 mb-3">
            <button v-on:click.prevent="removeObject('homeService', homeServiceIndex)" class="btn btn-danger">
              <%= fa_icon("trash") %>
            </button>
          </div>
        </div>

        <div class="form-group hidden venue_home_services__destroy m-0">
          <input v-model="homeService._destroy"  class="form-control hidden" type="hidden" value="false" :name="`venue[home_services_attributes][${homeServiceIndex}][_destroy]`" :id="`venue_home_services_attributes_${homeServiceIndex}__destroy`">
        </div>

        <hr>
      </div>

      <button v-on:click.prevent="addObject('homeService')" class="btn btn-primary">
        Ajouter un services à domicile
      </button>
    </div>
  </div>
</div>
