<div class="d-flex justify-content-between">
  <h4 class="d-flex align-items-center mb-3">
    Réseaux :
    <span v-show="venue.withNetwork" class="badge badge-secondary ml-2">
      {{countObject(venue.networks)}}
    </span>
  </h4>

  <fieldset class="form-group boolean venue_with_network mb-2">
    <div class="custom-control custom-switch">
      <input v-model="venue.withNetwork" name="venue[with_network]" type="hidden">

      <input v-model="venue.withNetwork"
              :checked="venue.withNetwork"
              type="checkbox"
              name="venue[with_network]"
              id="venue_with_network"
              class="custom-control-input boolean mb-2">

      <label for="venue_with_network" class="custom-control-label boolean">
        Avec internet
      </label>
    </div>
  </fieldset>
</div>

<div v-show="venue.withNetwork">
  <div v-for="(network, networkIndex) in venue.networks" :key="`network-${networkIndex}`">
    <div v-show="!network.Destroy">
      <div class="shadow p-3 rounded mb-3">
        <div class="form-group hidden venue_networks_id">
          <input v-model="network.id"
                  type="hidden"
                  :name="`venue[networks_attributes][${networkIndex}][id]`"
                  :id="`venue_networks_attributes_${networkIndex}_id`"
                  class="form-control hidden">
        </div>

        <div class="form-row">
          <div class="col-5">
            <div class="form-group string required venue_networks_name"
                :class="formGroupClass(network, 'name')">

              <label class="string required" :for="`venue_networks_attributes_${networkIndex}_name`">
                Nom du réseau <abbr title="obligatoire">*</abbr>
              </label>

              <input v-model="network.name"
                    class="form-control string required"
                    :class="inputClass(network, 'name')"
                    aria-required="true"
                    type="text"
                    :name="`venue[networks_attributes][${networkIndex}][name]`"
                    :id="`venue_networks_attributes_${networkIndex}_name`"
                    placeholder="Réseau Orange">

              <div v-for="networkError in network.errors['name']" class="invalid-feedback">
                {{networkError}}
              </div>
            </div>
          </div>

          <div class="col-5">
            <div class="form-group string venue_networks_password"
                 :class="formGroupClass(network, 'password')">

              <label class="string" :for="`venue_networks_attributes_${networkIndex}_password`">
                Mot de passe du réseau
              </label>

              <input v-model="network.password"
                    class="form-control string"
                    :class="inputClass(network, 'password')"
                    type="text"
                    :name="`venue[networks_attributes][${networkIndex}][password]`"
                    :id="`venue_networks_attributes_${networkIndex}_password`"
                    placeholder="Mot de passe">

              <div v-for="networkError in network.errors['password']" class="invalid-feedback">
                {{networkError}}
              </div>
            </div>
          </div>

          <div class="col-2 d-flex justify-content-end align-items-start">
            <button @click.prevent="removeObject('network', networkIndex)" class="btn btn-danger">
              <%= fa_icon("trash") %>
            </button>
          </div>
        </div>

        <div class="form-group hidden venue_networks__destroy m-0">
          <input v-model="network.Destroy"
                class="form-control hidden"
                type="hidden"
                value="false"
                :name="`venue[networks_attributes][${networkIndex}][_destroy]`"
                :id="`venue_networks_attributes_${networkIndex}__destroy`">
        </div>
      </div>
    </div>
  </div>

  <button @click.prevent="addObject('network')" class="btn btn-primary">
    <%= fa_icon("plus", "Ajouter un reseau", class: "mr-2") %>
  </button>
</div>
