<div class="modal" id="family-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h3 class="modal-title">
          <% if action_name == "new" %>
            Créer une famille
          <% else %>
            Editer une famille
          <% end %>
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [:user_account, @family], remote: true do |f| %>
          <%= f.input :name, input_html: { placeholder: "Dupont" } %>
          <%= f.submit "Envoyer", class: "btn btn-block btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
