<div class="d-flex justify-content-center mt-4">
  <div class="col-md-10 col-lg-8">
    <div class="alert alert-warning text-center m-0">
      <%= fa_icon("exclamation-triangle") %>
      <span class="ml-1">
        Votre compte pourrait être bloqué d'ici quelques jours, pensez a valider votre adresse email !
      </span>
    </div>
  </div>
</div>
