<div class="d-flex justify-content-center mt-6 mb-8">
  <h1>Blog</h1>
</div>

<div class="d-flex justify-content-center">
  <div class="col-md-10">
    <div class="card mb-3">
      <div class="card-body py-2">
        <div class="d-flex align-content-center">
          <div class="col-sm-9 px-0">
            <%= search_form_for @query,
                                wrapper: :inline_form,
                                remote: true,
                                data: { autosubmit: true } do |f| %>

              <%= f.input :title_cont,
                          as: :string,
                          label: false,
                          required: false,
                          input_html: {
                            class: "my-2",
                            placeholder: "Rechercher un article"
                          } %>
            <% end %>
          </div>
          <div class="ml-auto">
            <%= button_to "Réinitialiser",
                          articles_path,
                          method: :get,
                          id: "reset-filter",
                          class: "btn btn-danger m-2 d-none" %>
          </div>
        </div>
      </div>
    </div>

    <div id="articles-container">
      <%= render "articles" %>
    </div>
  </div>
</div>
