<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h3 class="m-0">Card</h3>
      <button type="button" class="btn btn-outline-danger">
        <%= fa_icon('trash') %>
      </button>
    </div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel posuere ex. Cras ut mauris semper, maximus diam porttitor, aliquet sapien. In feugiat lectus vitae elit malesuada, molestie varius lacus interdum. Sed interdum justo eget diam dapibus convallis. Ut efficitur dolor quis nulla scelerisque facilisis. Fusce consectetur, lorem id faucibus faucibus, nisl enim suscipit odio, a accumsan orci nibh auctor mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean risus purus, ultricies venenatis gravida luctus, dictum sed augue. Ut nec orci libero. Integer finibus leo at malesuada tempus.
  </div>
</div>
