<div class="card">
  <div class="card-body">
    <h3 class="mb-4">Dropdown</h3>

    <div class="row mb-2">
      <div class="col-sm">
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item active" href="#dropdown">Label</a>
            <a class="dropdown-item" href="#dropdown">Label</a>
            <a class="dropdown-item" href="#dropdown">Label</a>
            <a class="dropdown-item" href="#dropdown">Label</a>
            <a class="dropdown-item disabled" href="#dropdown">Label</a>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="btn-group dropup">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropup
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#dropdown">Label</a>
            <a class="dropdown-item" href="#dropdown">Label</a>
            <a class="dropdown-item" href="#dropdown">Label</a>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="btn-group dropright">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropright
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#dropdown">Label</a>
            <a class="dropdown-item" href="#dropdown">Label</a>
            <a class="dropdown-item" href="#dropdown">Label</a>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="btn-group dropleft">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropleft
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#dropdown">Label</a>
            <a class="dropdown-item" href="#dropdown">Label</a>
            <a class="dropdown-item" href="#dropdown">Label</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
