<div class="card">
  <div class="card-body">
    <h3 class="mb-4">Heading</h3>

    <h1>H1 Kactus design system heading</h1>
    <h2>H2 Kactus design system heading</h2>
    <h3>H3 Kactus design system heading</h3>
    <h4>H4 Kactus design system heading</h4>
    <h5>H5 Kactus design system heading</h5>
    <h6>H6 Kactus design system heading</h6>
  </div>
</div>
