<div class="card">
  <div class="card-body">
    <h3 class="mb-4">Heading</h3>

    <h1>H1 Hutoki design system heading</h1>
    <h2>H2 Hutoki design system heading</h2>
    <h3>H3 Hutoki design system heading</h3>
    <h4>H4 Hutoki design system heading</h4>
    <h5>H5 Hutoki design system heading</h5>
    <h6>H6 Hutoki design system heading</h6>
  </div>
</div>
