<div class="card">
  <div class="card-body">
    <h3 class="mb-4">Nav tabs</h3>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active"
           id="link-1-tab"
           href="#link-1"
           data-toggle="tab"
           role="tab"
           aria-controls="link-1"
           aria-selected="true">

          Link 1
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           id="link-2-tab"
           href="#link-2"
           data-toggle="tab"
           role="tab"
           aria-controls="link-2"
           aria-selected="false">

          Link 2
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           id="link-3-tab"
           href="#link-3"
           data-toggle="tab"
           role="tab"
           aria-controls="link-3"
           aria-selected="false">

          Link 3
        </a>
      </li>
      <li class="nav-item">
         <a class="nav-link"
            id="link-4-tab"
            href="#link-4"
            data-toggle="tab"
            role="tab"
            aria-controls="link-4"
            aria-selected="false">

          Link 4
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled"
           href="#"
           tabindex="-1"
           aria-disabled="true">

          Link disabled
        </a>
      </li>
    </ul>

    <div class="tab-content mt-2" id="myTabContent">
      <div class="tab-pane fade show active"
           id="link-1"
           role="tabpanel"
           aria-labelledby="link-1-tab">

        <h3>Link 1</h3>
        <p class="m-0">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, perferendis consequatur. Quaerat, est consequuntur nobis aut reiciendis error ipsum fuga, quod incidunt doloremque quae deleniti iure hic, eum officia soluta.
        </p>
      </div>

      <div class="tab-pane fade"
           id="link-2"
           role="tabpanel"
           aria-labelledby="link-2-tab">

        <h3>Link 2</h3>
        <p class="m-0">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, perferendis consequatur. Quaerat, est consequuntur nobis aut reiciendis error ipsum fuga, quod incidunt doloremque quae deleniti iure hic, eum officia soluta.
        </p>
      </div>

      <div class="tab-pane fade"
           id="link-3"
           role="tabpanel"
           aria-labelledby="link-3-tab">

        <h3>Link 3</h3>
        <p class="m-0">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, perferendis consequatur. Quaerat, est consequuntur nobis aut reiciendis error ipsum fuga, quod incidunt doloremque quae deleniti iure hic, eum officia soluta.
        </p>
      </div>

      <div class="tab-pane fade"
           id="link-4"
           role="tabpanel"
           aria-labelledby="link-4-tab">

        <h3>Link 4</h3>
        <p class="m-0">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, perferendis consequatur. Quaerat, est consequuntur nobis aut reiciendis error ipsum fuga, quod incidunt doloremque quae deleniti iure hic, eum officia soluta.
        </p>
      </div>
    </div>
  </div>
</div>
