<div class="card">
  <div class="card-body">
    <h3 class="mb-4">Pagination</h3>

    <div class="row">
      <div class="col-sm">
        <nav>
          <ul class="pagination pagination-sm">
            <li class="page-item active">
              <a class="page-link">1</a>
            </li>
            <li class="page-item">
              <a rel="next" class="page-link" href="#pagination">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#pagination">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#pagination">4</a>
            </li>
            <li class="page-item">
              <a rel="next" class="page-link" href="#pagination">
                <i class="fas fa-forward"></i>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#pagination">
                <i class="fas fa-fast-forward"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="col-sm">
        <nav>
          <ul class="pagination pagination-sm">
            <li class="page-item">
              <a class="page-link" href="#pagination">
                <i class="fas fa-fast-backward"></i>
              </a>
            </li>
            <li class="page-item">
              <a rel="prev" class="page-link" href="#pagination">
                <i class="fas fa-backward"></i>
              </a>
            </li>
            <li class="page-item">
              <a rel="prev" class="page-link" href="#pagination">1</a>
            </li>
            <li class="page-item active">
              <a class="page-link">2</a>
            </li>
            <li class="page-item">
              <a rel="next" class="page-link" href="#pagination">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#pagination">4</a>
            </li>
            <li class="page-item">
              <a rel="next" class="page-link" href="#pagination">
                <i class="fas fa-forward"></i>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#pagination">
                <i class="fas fa-fast-forward"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="col-sm">
        <nav>
          <ul class="pagination pagination-sm">
            <li class="page-item">
              <a class="page-link" href="#pagination">
                <i class="fas fa-fast-backward"></i>
              </a>
            </li>
            <li class="page-item">
              <a rel="prev" class="page-link" href="#pagination">
                <i class="fas fa-backward"></i>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#pagination">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#pagination">2</a>
            </li>
            <li class="page-item">
              <a rel="prev" class="page-link" href="#pagination">3</a>
            </li>
            <li class="page-item active">
              <a class="page-link">4</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
