<div class="d-flex justify-content-center mt-4">
  <div class="col-md-12 col-lg-8">
    <div class="d-flex flex-column flex-md-row align-items-center">
      <h1>Mes invitations</h1>
      <div class="ml-md-auto">
        <%= button_to new_user_account_sended_invitation_path,
                      class: "btn btn btn-outline-primary",
                      method: :get,
                      remote: true do %>

          <%= fa_icon("plus",
                      "Inviter une personne à rejoindre la famille #{@current_family.name}",
                      class: "mr-2") %>
        <% end %>
      </div>
    </div>

    <div class="card border-0 shadow">
      <div class="card-body">
        <div class="tab-content">
          <div id="invitations-container">
            <%= render "invitations" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
