<div class="d-flex justify-content-center">
  <div class="col-11">
    <div class="d-flex align-content-center my-4">
      <h1 class="m-0 mr-auto">Utilisateurs</h1>
      <%= button_to "Réinitialiser",
                    admin_account_users_path,
                    method: :get,
                    id: "reset-filter",
                    class: "btn btn-danger m-2 d-none" %>

      <div class="col-3 p-0">
      <%= search_form_for [:admin_account, @query], wrapper: :inline_form, remote: true do |f| %>
          <%= f.input :first_name_or_last_name_or_email_cont,
                      as: :string,
                      required: false,
                      input_html: {
                        class: "my-2",
                        placeholder: "Rechercher un utilisateur"
                      } %>
      <% end %>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div id="users-table-container">
          <%= render "users_table" %>
        </div>
      </div>
    </div>
  </div>
</div>
