<div class="d-flex justify-content-center mt-4">
  <div class="col-md-8 col-lg-6">
    <h1>Mes invitations reçues</h1>

    <div class="card">
      <div class="card-body">
        <div class="tab-content">
          <div id="invitations_container">
            <%= render "invitations" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
