<% content_for :head do %>
  <%= javascript_pack_tag 'venues_vue', 'data-turbolinks-track': 'reload' %>
<% end %>

<div id="app" class="d-flex">
  <div class="pt-4 px-3 overflow-auto w-100" style="height: calc(100vh - 56px);">
    <venue-list />
  </div>

  <div class="sidebar py-4 overflow-auto border-left"
       :class="{ active: sidebar }"
       style="height: calc(100vh - 56px);">

    <venue-container />
  </div>

  <div id="v-toast-container">
    <flash-message v-for="(flash, index) in flashes" :key="index" :flash="flash" />
  </div>
</div>
