<% content_for :head do %>
  <%= javascript_pack_tag 'venues_vue', 'data-turbolinks-track': 'reload' %>
<% end %>

<div id="app" class="row ml-4">
  <div class="col-5 col-lg-7 pt-4 overflow-auto" style="height: calc(100vh - 56px);">
    <venue-list />
  </div>

  <div class="col-7 col-lg-5 p-0 py-4 px-3 overflow-auto border-left" style="height: calc(100vh - 56px);">
    <venue-container />
  </div>
</div>
