<div class="card border-0 shadow mt-2">
  <div class="card-body">
    <%= simple_form_for [:user_account, @booking, @message], remote: true do |f| %>
      <%= f.input :content,
                  label: false,
                  wrapper_html: { class: 'mb-0' },
                  input_html: {
                    "v-model": "message",
                    "v-bind:class": "{ 'is-invalid': showMessageFormError }",
                    "@keydown.enter.exact.prevent": "",
                    "@keyup.enter.exact": "submitForm",
                    placeholder: "Ecrivez un message au sujet de cette réservation"
                  },
                  hint: (
                    "(shift + Entrée) pour faire un retour a la ligne, " +
                    "(Entrée) pour envoyer.<br>" +
                    "{{charCount}}/{{contentMax}} caractères."
                  ).html_safe %>
    <% end %>

    <small v-if="showMessageFormError" class="text-danger">
      {{messageFormError}}
    </small>
  </div>
</div>
